.social_networks img {
	height: 42px;
	width: 40px;
	float:right;
}

#header {
  font-weight:bold;
}

.row {
	margin-top: 10px;
}

#footer {
	float:bottom 0px;
	color: #FFFFFF;
	background-color: #008cba;
	padding-top: 10px;
	border-radius: 5px;
}

#footer_links > li > a:hover {
	color: #FFFFFF;
	text-shadow: 0px 0px 8px #FFFFFF;
	transition: text-shadow .3s;
}
.projects_list li {
	padding: 10px;
	margin: 5px;
	background-color: #efefef;
}

.projects_list img {
	border:solid 1px;
}

.link {
	color:#008cba;
}

.thumbnail {
  height:100px;
  width: 100px;
}