body, #tabs {font-family:calibri;}
  body {background-color: D1D1D1;}
  #tabs {width: 60%; background-color: #C9C9C9; }
  .featuredtab {width: 100%; height: 100%;}
  #deal_rotate {background-color: #C9C9C9; width: 20%;}
  #deal_rotate img {padding-left: 25px;}
  #deal_list {padding-top:20px;}
  #deal_list li {margin:2px;}
  ul {list-style-type:none;}
  #nav li {display:inline; padding-right:20px;}
  #nav li a {text-decoration:none; color: #000000;}
  #nav li a:hover {color: #C1C1C1;}
  #sub {padding-top: 30px;}
  #sub img {height: 250px; width: 250px; border:solid 1px; color: #C1C1C1;}
  .listitem {padding-top:10px; padding-bottom:10px; background-color:#B2B2B2; padding-left: 5px;}
  .listitem:hover {background-color:#C1C1C1;}
  .listitem img {height:40px; width:80px; padding-left: 5px;}