body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:60px;
  width:100px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:210px;
  width:990px;
  height:360px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:360px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:360px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:360px;
}
#u4 {
  position:absolute;
  left:2px;
  top:172px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:300px;
  top:10px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:360px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:360px;
}
#u7 {
  position:absolute;
  left:2px;
  top:172px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:310px;
  top:60px;
  width:1060px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:110px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:110px;
  top:60px;
  width:200px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1000px;
  top:210px;
  width:370px;
  height:360px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:370px;
}
#u13 {
  position:absolute;
  left:2px;
  top:172px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1030px;
  top:210px;
  width:310px;
  height:360px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:360px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:10px;
  top:106px;
  width:300px;
  height:144px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:70px;
  width:65px;
  height:24px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:116px;
  width:300px;
  height:144px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:70px;
  width:65px;
  height:24px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:116px;
  width:300px;
  height:144px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:10px;
  top:70px;
  width:65px;
  height:24px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:30px;
  top:530px;
  width:30px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27_img.selected {
}
#u27.selected {
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:80px;
  top:530px;
  width:30px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u29_img.mouseDown {
}
#u29.mouseDown {
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:130px;
  top:530px;
  width:30px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u31_img.mouseDown {
}
#u31.mouseDown {
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:870px;
  width:1370px;
  height:100px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:110px;
}
#u35 {
  position:absolute;
  left:2px;
  top:42px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:548px;
  top:912px;
  width:38px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:596px;
  top:910px;
  width:10px;
  height:19px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:19px;
}
#u39 {
  position:absolute;
  left:616px;
  top:912px;
  width:38px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:664px;
  top:910px;
  width:10px;
  height:19px;
}
#u41_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u41_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:19px;
}
#u42 {
  position:absolute;
  left:684px;
  top:912px;
  width:38px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:732px;
  top:910px;
  width:10px;
  height:19px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:2px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:19px;
}
#u45 {
  position:absolute;
  left:752px;
  top:912px;
  width:38px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:10px;
  top:590px;
  width:510px;
  height:230px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:230px;
}
#u48 {
  position:absolute;
  left:2px;
  top:107px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:510px;
  top:590px;
  width:230px;
  height:230px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u50 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:760px;
  top:590px;
  width:606px;
  height:226px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:226px;
}
#u52 {
  position:absolute;
  left:20px;
  top:674px;
  width:440px;
  height:96px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:96px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:20px;
  top:630px;
  width:168px;
  height:24px;
  font-size:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:374px;
  top:70px;
  width:686px;
  height:80px;
}
#u56_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:692px;
  height:86px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:85px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:80px;
  font-size:20px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:80px;
}
#u58_img.mouseOver {
}
#u58.mouseOver {
}
#u59 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:229px;
  top:0px;
  width:229px;
  height:80px;
  font-size:20px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:80px;
}
#u60_img.mouseOver {
}
#u60.mouseOver {
}
#u61 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:458px;
  top:0px;
  width:228px;
  height:80px;
  font-size:20px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:80px;
}
#u62_img.mouseOver {
}
#u62.mouseOver {
}
#u63 {
  position:absolute;
  left:2px;
  top:28px;
  width:224px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:229px;
  top:80px;
  width:229px;
  height:94px;
  visibility:hidden;
}
#u64_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:235px;
  height:100px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:99px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u66_img.mouseOver {
}
#u66.mouseOver {
}
#u67 {
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:31px;
  width:229px;
  height:29px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:225px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:60px;
  width:229px;
  height:34px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:34px;
}
#u70_img.mouseOver {
}
#u70.mouseOver {
}
#u71 {
  position:absolute;
  left:2px;
  top:9px;
  width:225px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1220px;
  top:10px;
  width:42px;
  height:40px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1322px;
  top:10px;
  width:40px;
  height:40px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1272px;
  top:11px;
  width:40px;
  height:39px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
